.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  width: 30rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 20px;
  font-size: 22px;
  .read-card {
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 12px;
    margin: 2rem;
    padding: 0.5rem;

    .user-icon {
      transform: scale(2);
      padding: 1rem;
    }

    .reader-card {
      margin: left;
      line-height: 3px;
      margin-left: 1rem;

      .hi {
        font-weight: 600;
        font-size: 22px;
      }

      .here {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  .toggle {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 12px;
    margin: 2rem;
    font-size: 22px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;

    .icons {
      padding-left: 6px;
      padding-right: 6px;
    }

    .icon1 {
      transform: scale(1.5);
      margin-right: 1rem;
      cursor: pointer;
    }

    .icon2 {
      transform: scale(1.5);
      cursor: pointer;
    }
  }

  .feedback {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 12px;
    margin: 2rem;
    font-size: 22px;
    font-weight: 700;
    padding: 0.5rem;

    button {
      padding: 1rem;
      font-size: 18px;
      font-weight: 600;
      border-radius: 7px;
      border: none;
      background-color: aquamarine;
      cursor: pointer;
    }
  }
}
